<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="home">
    <div class="background-pic">
        <div class="top-left">主页</div>
        <div class="top-right">
            退出登录
        </div>
    </div>
    <div class="head-pic"></div>
    <div class="info">
        <ul>
            <li>姓名： 忘川</li>
            <li>班级： 51432</li>
            <li>学号： 5143226</li>
            <li>学校： 东北大学秦皇岛分校</li>
            <li>个性签名： 抬手牵流岚，举步过忘川</li>
        </ul>
    </div>
</div>
</body>
</html>