<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login-items">
    <h1>个人平台</h1>
    <div class="form-item">
        <input type="text" placeholder="用户名" id="name"/>
    </div>
    <div class="form-item">
        <input type="password" placeholder="密码" id="password"/>
    </div>
    <div class="form-item">
        <button onclick="login()">登&nbsp;&nbsp;录</button>
    </div>
    <div class="form-item">
        <div class="checkbox">
            <label><input type="checkbox" value="1" checked=""/> 记住密码</label>
        </div>
        <div class="forgetPass">忘记密码</div>
    </div>
</div>
<script src="/javascripts/login.js" type="text/javascript"></script>
</body>
</html>