.first-page{
    width: 500px;
    height: 300px;
    margin: 150px auto;
    text-align: center;
}
.first-page h1{
    font-size: 40px;
    letter-spacing: 10px;
}
.operate-btn{
    width: 180px;
    height: 40px;
    clear: both;
    margin: 80px auto;
}
.operate-btn button{
    width: 70px;
    height: 40px;
    background: #5cb85c;
    border-radius: 3px;
    border: none;
    color: #fff;
    outline: none;
}
#loginBtn{
    float: left;
}
#registerBtn{
    float: right;
}