*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:url(../images/background.jpg) no-repeat;
    background-size:100%;
}
.register-items{
    width: 400px;
    height: 400px;
    margin: 150px auto;
}
.register-items h1{
    color: #fff;
    padding:0 0 20px 120px;
}
.form-item{
    width: 380px;
    height:50px;
    margin: 10px auto;
    color: #fff;
}
.form-item input{
    box-sizing: border-box;
    width: 350px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 12px;
    padding-left: 10px;
    outline: none;
    color: #fff;
    background-color:rgba(0,0,0,0);
}
input::-webkit-input-placeholder{
    color: #fff;
}
.form-item button{
    width: 350px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 12px;
    background: #fff;
    color: #33A1C9;
    font-size: 20px;
    outline: none;
}